body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 134px);;
    background-color: #121212;
}

.registration-card {
    background-color: #1c1c1c;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.registration-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f4a261;
}

.registration-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    color: #f4a261;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.registration-form input:focus {
    border-color: #f4a261;
    box-shadow: 0 0 5px rgba(244, 162, 97, 0.5);
}

.registration-button {
    width: 100%;
    padding: 10px;
    background-color: #f4a261;
    border: none;
    border-radius: 4px;
    color: #1c1c1c;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-button:hover {
    background-color: #e76f51;
}

.social-registration {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.social-button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Add space between icon and text */
    transition: opacity 0.3s;
}

.social-button.google {
    background-color: #db4437;
    color: #fff;
}

.social-button.facebook {
    background-color: #3b5998;
    color: #fff;
}

.social-button i {
    font-size: 18px;
}

.social-button:hover {
    opacity: 0.8;
}
