.hotel-page {
  padding: 20px;
  text-align: center;
  color: #1c1c1c;
}

.hotel-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.reserve-button, .gallery-button {
  padding: 10px 20px;
  color: white;
  background-color: #ff7329;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.reserve-button:hover, .gallery-button:hover {
  background-color: #f85802;
}

.reviews {
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-info-container {
    display: flex; /* Enables flexbox layout */
    max-width: 900px;
    margin: auto;
    gap: 10px; /* Adds spacing between children */

}

.hotel-description {
    flex: 1;                       /* Opis zajmuje maksymalną dostępną przestrzeń */
    margin: 0 20px;            /* Odstęp od sekcji ocen */
    font-size: 16px;               /* Rozmiar czcionki */
    color: #333;                   /* Kolor tekstu */
    text-align: justify;
}

.hotel-rating {
    display: flex;
    flex-direction: column;        /* Układa elementy w kolumnie */
}

.rating-average {
    font-size: 14px;               /* Mniejszy rozmiar czcionki dla średniej */
    color: #666;                   /* Delikatny kolor tekstu */
    margin-top: 5px;               /* Odstęp między gwiazdkami a tekstem */
}
